<ng-container *transloco="let t; read: 'dashboard'">
  @if (isLoading()) {
    <ytt-loading>
      <h3>{{ t("loading") }}</h3>
    </ytt-loading>
  }

  @if (!isLoading() && actions().size <= 0) {
    <div class="no-data-container">
      <mat-icon svgIcon="no-data" style="scale: 2" />
      <h3>{{ t("no-data") }}</h3>
    </div>
  }

  @if (!isLoading() && actions().size > 0) {
    <div>
      @for (entry of actions() | yttGroupBy: "group" | keyvalue; track entry) {
        <h2>
          {{ entry.key }}
        </h2>

        <ul>
          @for (action of entry.value; track action) {
            <ytt-action-dashboard-card
              [action]="action"
              (actionStateChanged)="handleStateChanged($event)"
            />
          }
        </ul>
      }
    </div>
  }
</ng-container>
