<ng-container>
  <h1 mat-dialog-title>Setting importer</h1>
  <div mat-dialog-content>
    <p>Are you sure to import your settings?</p>
    <mat-form-field appearance="fill">
      <mat-label>Settings</mat-label>
      <textarea #importArea matInput rows=5></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="handleCancel()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="handleOk(importArea)">Ok</button>
  </div>
</ng-container>