<ng-container *transloco="let t; read: 'settings.action-card-modification'">
  <h1 mat-dialog-title *ngIf="data.type === ActionCardModificationType.CREATE">
    {{ t("title.create") }}
  </h1>
  <h1 mat-dialog-title *ngIf="data.type === ActionCardModificationType.UPDATE">
    {{ t("title.update", { id: data.action.id }) }}
  </h1>
  <h1 mat-dialog-title *ngIf="data.type === ActionCardModificationType.DELETE">
    {{ t("title.delete") }}
  </h1>

  <div
    mat-dialog-content
    *ngIf="
      data.type === ActionCardModificationType.CREATE ||
      data.type === ActionCardModificationType.UPDATE
    "
  >
    <mat-form-field appearance="outline">
      <mat-label>{{ t("name.label") }}</mat-label>
      <input
        matInput
        [(ngModel)]="data.action.name"
        [placeholder]="t('name.placeholder')"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ t("type.label") }}</mat-label>
      <input
        matInput
        [(ngModel)]="data.action.type"
        [placeholder]="t('type.placeholder')"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ t("group.label") }}</mat-label>
      <mat-select [(value)]="data.action.group">
        <mat-option>{{ t("group.default-value") }}</mat-option>
        <mat-option
          *ngFor="let actionGroup of actionGroups()"
          [value]="actionGroup"
          >{{ actionGroup }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div
    mat-dialog-content
    *ngIf="data.type === ActionCardModificationType.DELETE"
  >
    <p>{{ t("delete.desc", { id: data.action.id }) }}</p>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="handleCancel()">
      {{ t("buttons.cancel") }}
    </button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
      {{ t("buttons.ok") }}
    </button>
  </div>
</ng-container>
