<ng-container *transloco="let t; read: 'auth'">
  <div class="container">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>
          <h2>{{ t("title") }}</h2>
        </mat-card-title>
      </mat-card-header>

      <mat-divider></mat-divider>

      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>{{ t("username.label") }}</mat-label>
          <input #username matInput [placeholder]="t('username.placeholder')" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ t("password.label") }}</mat-label>
          <input
            #password
            matInput
            [placeholder]="t('password.placeholder')"
            [type]="hidePassword() ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="toggle()"
            [attr.aria-label]="t('password.button')"
            [attr.aria-pressed]="hidePassword()"
          >
            <mat-icon>{{
              hidePassword() ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions align="end">
        <button
          mat-flat-button
          color="primary"
          (click)="handleLogin(username?.value ?? '', password?.value ?? '')"
        >
          {{ t("submit") }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
