<ng-container *transloco="let t; read: 'action'">
  <mat-card appearance="outlined">
    <mat-card-content>
      <h4>{{ action().name }}</h4>
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-icon-button
        color="{{ started() ? 'warn' : '' }}"
        title="{{ started() ? t('stop') : t('start') }}"
        (click)="handleClick()"
      >
        <mat-icon
          svgIcon="{{
            started()
              ? 'stop'
              : canEnterComment()
                ? 'play-with-comment'
                : 'play'
          }}"
        />
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
