/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mat-tab-nav-bar,
.mat-tab-header {
  border-bottom: none;
}

mat-form-field {
  width: 100%;
}

mat-toolbar {
  a {
    color: white;
    font-size: 1rem;

    &:hover {
      opacity: 1;
    }
  }
}

mat-divider {
  margin-bottom: 16px !important;
}

[mat-icon-button]:hover {
  background-color: rgba(0,0,0,0.2);
}

/* theming scrollbars */
/* https://css-tricks.com/custom-scrollbars-in-webkit/ */
::-webkit-scrollbar {
  height: 4px;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #c2185b;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #c0c0c0;
}