<ng-container *transloco="let t; read: 'settings'">
  <fieldset>
    <legend>{{ t("auth.title") }}</legend>

    <mat-form-field appearance="outline">
      <mat-label>{{ t("auth.label") }}</mat-label>
      <input
        matInput
        [ngModel]="apiToken()"
        (ngModelChange)="apiToken.set($event)"
        [placeholder]="t('auth.placeholder')"
      />
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      class="save"
      (click)="handleSaveApiToken()"
    >
      <mat-icon svgIcon="save" />
      <span>{{ t("buttons.save") }}</span>
    </button>
  </fieldset>

  <fieldset>
    <legend>{{ t("groups.title") }}</legend>

    <mat-form-field appearance="outline">
      <mat-label>{{ t("groups.label") }}</mat-label>
      <mat-chip-grid #chipList multiple>
        @for (actionGroup of actionGroups(); track actionGroup) {
          <mat-chip-row
            [value]="actionGroup"
            (removed)="removeActionGroup(actionGroup)"
          >
            {{ actionGroup }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
        <input
          [placeholder]="t('groups.placeholder')"
          [matChipInputFor]="chipList"
          (matChipInputTokenEnd)="addActionGroupFromInput($event)"
        />
      </mat-chip-grid>
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      class="save"
      (click)="handleSaveActionGroups()"
    >
      <mat-icon svgIcon="save" />
      <span>{{ t("buttons.save") }}</span>
    </button>
  </fieldset>

  <fieldset>
    <legend>{{ t("actions.title") }}</legend>

    @if (actionSize() <= 0) {
      <span>{{ t("actions.no-data") }}</span>
    }

    @if (actionSize() > 0) {
      <ul>
        @for (action of actions() | keyvalue; track action.key) {
          <ytt-action-settings-card
            [action]="action.value"
            (edit)="
              handleOpenActionCardModification(
                ActionCardModificationType.UPDATE,
                $event
              )
            "
            (delete)="
              handleOpenActionCardModification(
                ActionCardModificationType.DELETE,
                $event
              )
            "
          />
        }
      </ul>
    }

    <button
      mat-flat-button
      color="primary"
      class="save"
      (click)="
        handleOpenActionCardModification(ActionCardModificationType.CREATE)
      "
    >
      <mat-icon>add</mat-icon>
      <span>{{ t("buttons.add") }}</span>
    </button>
  </fieldset>

  <fieldset>
    <legend>{{ t("local-settings.title") }}</legend>

    <button mat-flat-button color="primary" (click)="handleOpenImport()">
      <mat-icon svgIcon="upload"></mat-icon>
      <span>{{ t("buttons.import") }}</span>
    </button>

    <button mat-flat-button color="primary" (click)="handleOpenExport()">
      <mat-icon svgIcon="download"></mat-icon>
      <span>{{ t("buttons.export") }}</span>
    </button>
  </fieldset>

  <fieldset>
    <legend>{{ t("information.title") }}</legend>

    <p>{{ t("information.version", { version: appVersion }) }}</p>

    @if (apiVersion$ | async; as apiVersion) {
      <p>
        {{ t("information.apiVersion", { version: apiVersion }) }}
      </p>
    }

    <p>{{ t("information.username", { username: username() }) }}</p>
  </fieldset>
</ng-container>
