fieldset {
  border-radius: 4px;
  margin: 24px 0;
  
  legend {
    padding: 8px 24px;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
  }
  
  mat-form-field {
    width: 100%;
    
    ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0;
    }
  }
  
  [mat-flat-button]:not(:last-child) {
    margin-right: 16px;
  }
  
  [mat-flat-button] {
     span {
      margin-left: 8px;
    }
  }
  
  .save {
    float: right;
    margin-top: 6px;
  }
}