<fieldset>
  <legend>Authentication</legend>

  <mat-form-field appearance="outline">
    <mat-label>API Token</mat-label>
    <input [(ngModel)]="apiToken" matInput placeholder="Please enter your API Token...">
  </mat-form-field>

  <button mat-flat-button color="primary" class="save" (click)="handleSaveApiToken()">
    <mat-icon svgIcon="save"></mat-icon>
    <span>Save</span>
  </button>
</fieldset>

<fieldset>
  <legend>Configure time tracking actions</legend>
  
  <span *ngIf="actions.size <= 0">No actions defined.</span>
  
  <ul *ngIf="actions.size > 0">
    <ytt-action-settings-card 
      *ngFor="let action of actions | keyvalue" 
      [action]="action.value"
      (edit)="handleOpenActionCardModification(ActionCardModificationType.UPDATE, $event)"
      (delete)="handleOpenActionCardModification(ActionCardModificationType.DELETE, $event)">
    </ytt-action-settings-card>
  </ul>
  
  <button mat-flat-button color="primary" class="save" 
    (click)="handleOpenActionCardModification(ActionCardModificationType.CREATE)">
    <mat-icon>add</mat-icon>
    <span>Add</span>
  </button>
</fieldset>

<fieldset>
  <legend>Actions</legend>

  <button mat-flat-button color="primary" (click)="handleOpenImport()">
    <mat-icon svgIcon="upload"></mat-icon>
    <span>Import</span>
  </button>

  <button mat-flat-button color="primary" (click)="handleOpenExport()">
    <mat-icon svgIcon="download"></mat-icon>
    <span>Export</span>
  </button>
</fieldset>
